.root {
    -fx-font-family: "Inter UI Regular";
    -fx-font-size: 14px;
}

.ikonli-font-icon {
    -fx-icon-size: 20px;
    -fx-icon-color: -fx-text-background-color;
}

.hyperlink,
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-underline: true;
    -fx-padding: 0.166667em 0em 0.166667em 0em;
    -fx-text-fill: derive(-fx-text-background-color, 20%);
    -fx-border-color: transparent;
}
.hyperlink:hover {
    -fx-underline: true;
}

.theme-select {
    -fx-background-color: transparent;
}